{{#each}}
  {{render 'pane' this}}
{{/each}}

<div class="edit-surface">
  <a class="edit" {{action 'edit'}} href="#">
    <i class="fa fa-cog"></i>
  </a>
</div>

{{outlet}}

<button class="close" {{action 'close'}}>
  <i class="fa fa-times"></i>
</button>
