<div class="pane" {{bind-attr style=style}}>
  <iframe {{bind-attr src=url}} frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
  <a class="edit-cover" {{action 'edit'}} href="#">
    <i class="fa fa-edit"></i>
  </a>
</div>

{{partial 'edit'}}
