<div class="pane" {{bind-attr style=style}}>
  <iframe {{bind-attr src=url}} frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
  {{#link-to 'editpane' this class="edit-cover"}}
    <i class="fa fa-edit"></i>
  {{/link-to}}
</div>
