html, body { height: 100%; position: relative; margin: 0; padding: 0; }
iframe,#bottomContainer { position: absolute; margin: 0; }
#topLeft { top: 0; left: 0; height: 450px; width: 25%; }
#topMiddle { top: 0; left: 25%; height: 450px; width: 25%; }
#topRight { top: 0; right: 0; height: 450px; width: 50%; }
#bottomContainer { bottom: 0; left: 0; top:450px; right: 0; }
#bottom { height: 100%; width: 100%; }
#callout { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: none;
  background: #fff; text-align: center; font-size: 40px; font-family: Adamina; }
#callout iframe { position: static }
.valign { vertical-align: middle; display: inline-block; }
.vshim { vertical-align: middle; height: 100%; display: inline-block; }
