.check-box {
  fontify();
  color: primary-color;
  display: block;
  font-size: 1.3em;
  padding: 0 1px 0 0;

  &:hover {
    color: darken(primary-color, 20%);
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:before {
    content: $fa-var-square-o;
  }

  &.checked {
    padding-right: 0;

    &:before {
      content: $fa-var-check-square;
    }
  }
}
