$edit-size: 42px;

.edit-surface {
  position: absolute;
  top: 0;
  right: 0;
  width: $edit-size;
  height: $edit-size;

  .editing & {
    display: none;
  }
}

a.edit {
  &:before {
    border-top: solid 25px rgba(255,255,255,0.3);
    border-right: solid 25px rgba(255,255,255,0.3);
    border-bottom: solid 25px transparent;
    border-left: solid 25px transparent;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
  }

  color: rgba(255,255,255,0.5);
  display: none;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: $edit-size - 14;
  height: $edit-size - 14;
  line-height: $edit-size - 14;

  &:hover,
  &:focus {
    color: rgba(255,255,255,0.8);
  }
}

.edit-surface:hover a.edit {
  display: block;
}

.edit-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

  .editing & {
    display: block;
  }

  .editing-pane &,
  .swapping &,
  .editing-settings & {
    display: none;
  }

  button {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    font-size: 1.5em;

    &:hover,
    &:focus {
      color: #FFF;
    }
  }
}

.undo {
  background: $neutral-color;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: .9em;
  margin-left: -90px;
  padding: 6px;
  position: absolute;
  transition: all .5s ease-out;
  top: -80px;
  left: 50%;
  width: 180px;
}

.delete-undo {
  button {
    float: left;
  }

  a {
    float: right;
    padding: 5px;
  }

  .undoable & {
    top: 10px;
  }
}

.swap-undo {
  margin-left: -60px;
  text-align: center;
  width: 120px;

  button {
    display: inline-block;
  }

  .swapping & {
    top: 10px;
  }
}
