.pane-editor-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  .being-edited & {
    display: block;
  }
}

.pane-editor {
  background: rgba(255, 255, 255, 0.7);
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 5px 15px;
  position: absolute;
  top: 10px;
  left: 10px;

  fieldset {
    margin: 10px 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  > .actions {
    padding: 10px 0;
    text-align: right;

    .remove {
      float: left;
    }

    .save,
    .cancel {
      float: right;
      margin-left: 10px;
    }
  }
}

.url {
  input {
    width: 100%;
  }
}

.properties {
  input {
    display: inline-block;
  }

  .actions {
    text-align: center;
  }

  .add-property {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
  }
}
