$settings-width: 550px;

.settings {
  background: #f8f8f8;
  border: solid 5px #c7c7c7;
  border-top: none;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  display: none;
  margin-left: -($settings-width / 2);
  padding: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  width: $settings-width;

  .editing-settings & {
    display: block;
  }

  fieldset {
    margin: 10px 0;
  }

  label {
    color: #767676;
    display: inline-block;
    text-align: right;
    width: 33%;
  }

  input {
    display: inline-block;
    margin-left: 2%;
    width: 64%;
  }

  .settings-actions {
    text-align: right;

    button {
      float: right;
      margin-left: 10px;
    }
  }
}
