body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

body {
  background: linear-gradient(135deg,
                              #584D61 22px,
                              #493D52 22px,
                              #493D52 24px,
                              transparent 24px,
                              transparent 67px,
                              #493D52 67px,
                              #493D52 69px,
                              transparent 69px), linear-gradient(225deg,
                                                                 #584D61 22px,
                                                                 #493D52 22px,
                                                                 #493D52 24px,
                                                                 transparent 24px,
                                                                 transparent 67px,
                                                                 #493D52 67px,
                                                                 #493D52 69px,
                                                                 transparent 69px) 0 64px;
  background-color: #584D61;
  background-size: 64px 128px;

  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-style: 16px;
}

.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

a:link,
a:visited {
  color: primary-color;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: darken(primary-color, 20%);
  text-decoration: underline;
}

buttonize(color) {
  background: color;

  &:hover,
  &:focus {
    background: darken(color, 10%);
  }
}

button {
  background: none;
  border: none;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  font-size: 1em;
  padding: 5px 10px;

  &.primary {
    buttonize(primary-color);
  }
  &.action {
    buttonize(action-color);
  }
  &.neutral {
    buttonize(neutral-color); color: #333;
  }
  &.danger {
    buttonize(danger-color);
  }
  &.success {
    buttonize(success-color);
  }
}

input {
  border: solid 1px #c7c7c7;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding: 5px 10px;
}
