<div class="login">

  <h2>Please Authenticate</h2>

  <form {{action 'submit' on="submit"}}>
    {{input value=token type="text" placeholder="API Token"}}
    <button type="submit">Authenticate</button>
  </form>

</div>
