<section class="project-container">
  <header>
    {{single-select items=projects currentItemId=id onSelect="didSelectProject"}}

    {{multi-select items=scopes onSelect="didSelectScope" onUnselect="didUnselectScope"}}
  </header>

  {{outlet}}
</section>
