<section class="project-container">

  <header>
    {{item-picker items=projects currentItemId=id onSelect="didSelectProject"}}
  </header>

  <section class="iterations">
    {{#each iterations}}
      {{partial 'iteration'}}
    {{/each}}
  </section>

</section>
