body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

body {
  background-color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body,
input {
  font-size: 18px;
}

iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.edit-surface {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
}

  .edit {
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    display: none;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  .edit:hover,
  .edit:focus {
    color: rgba(255,255,255,0.8);
  }

    .edit:before {
      border-top: solid 25px rgba(255,255,255,0.3);
      border-right: solid 25px rgba(255,255,255,0.3);
      border-bottom: solid 25px transparent;
      border-left: solid 25px transparent;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
    }

  .edit-surface:hover .edit {
    display: block;
  }

.editor {
  background: #333;
  display: none;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

  .save {
    background: #eb7c19;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
    padding: 5px 10px;
    float: right;
  }

  .save:hover,
  .save:focus {
    background: #c06311;
  }

  fieldset {
    margin: 10px;
  }

  label {
    color: #f8f8f8;
    display: inline-block;
  }

  .interval input {
    background: #e3e3e3;
    border: solid 1px #787878;
    border-radius: 3px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    width: 50px;
  }

  .hide-countdown input {
    margin-right: 5px;
  }

  .sites {
    clear: both;
    padding-top: 10px;
  }

    .sites li {
      display: block;
      margin-bottom: 10px;
      padding-right: 30px;
      padding-left: 10px;
      position: relative;
    }

      .sites input {
        background: #e3e3e3;
        border: solid 1px #787878;
        border-radius: 3px;
        box-sizing: border-box;
        display: block;
        padding: 5px 10px;
        width: 100%;
      }

      .remove {
        color: #d3d3d3;
        cursor: pointer;
        margin-top: -10px;
        position: absolute;
        right: 5px;
        top: 50%;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 20px;
      }

      .remove:hover {
        color: #FFF;
      }

  .add-site {
    background: #5283af;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 80px;
  }

  .add-site:hover,
  .add-site:focus {
    background: #416a8d;
  }

.countdown {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
