<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>TNW Status Board</title>
  <meta http-equiv="refresh" content="3600" />
  <link href="http://fonts.googleapis.com/css?family=Adamina" rel="stylesheet" type="text/css">
  {{stylesheets}}
</head>
<body>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  <script src="http://www.youtube.com/player_api"></script>
  {{scripts}}
</body>
</html>
