<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>TNW Status Board</title>
  <meta http-equiv="refresh" content="3600" />
  {{stylesheets}}
</head>
<body>
  {{scripts}}
</body>
</html>
