body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

body {
  background: #f8f8f8;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

em {
  font-weight: bold;
}

p,
ul,
ol,
form {
  line-height: 1.5;
  margin: 10px 0;
}

a {
  &:link,
  &:visited {
    color: $action-color;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: darken($action-color, 10%);
    text-decoration: underline;
  }
}

input {
  border: solid 1px #c7c7c7;
  border-radius: 3px;
  font-size: 1em;
  padding: 5px 10px;
}

button {
  background: $action-color;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 1em;
  cursor: pointer;
  padding: 6px 11px;

  &:hover,
  &:focus {
    background: darken($action-color, 10%);
  }
}
