.login-container {
  margin: 30px auto 0;
  width: 32em;

  h2 {
    background: $primary-color;
    color: #FFF;
    margin: 0;
    padding: 12px;
  }

  form {
    @include clearfix;
    background: #e3e3e3;
    margin: 0;
    padding: 2em;

    input {
      box-sizing: border-box;
      display: block;
      float: left;
      padding: .8em;
      width: 19em;
    }

    button {
      box-sizing: border-box;
      display: block;
      float: right;
      padding: .8em 0;
      text-align: center;
      width: 8em;
    }
  }
}
