.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

body {
  background: #f8f8f8;
  color: #333;
}

.login-container {
  margin: 50px auto 0;
  width: 530px;

  h2 {
    background: $primary-color;
    color: #FFF;
    margin: 0;
    padding: 12px;
  }

  form {
    background: #e3e3e3;
    margin: 0;
    padding: 30px;

    input {
      display: block;
      float: left;
      margin-right: 10px;
      padding: 12px;
      width: 309px;
    }

    button {
      display: block;
      padding: 13px;
    }
  }
}

.projects-container {
  margin: 50px auto 0;
  width: 530px;

  h2 {
    background: $primary-color;
    color: #FFF;
    margin: 0;
    padding: 12px;
  }

  ul {
    @extend .clearfix;
    background: #e3e3e3;
    margin: 0;
    padding: 7px;

    li {
      float: left;
      width: 244px;
      margin: 7px 7px;

      a {
        background: $action-color;
        border-radius: 3px;
        color: #FFF;
        display: block;
        font-size: 1.2em;
        padding: 10px;
        text-decoration: none;

        &:hover,
        &:focus {
          background: darken($action-color, 10%);
        }
      }
    }
  }
}

.project-container > header {
  @extend .clearfix;
  background: $primary-color;
  padding: 10px;
}

$item-picker-width: 200px;
$item-picker-height: 30px;

.item-picker {
  background: $action-color;
  border-radius: 3px;
  float: left;
  position: relative;
  width: $item-picker-width;
  height: $item-picker-height;
  z-index: 10;

  a.toggle-expansion {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFF;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: $item-picker-height;
    height: $item-picker-height;
    line-height: $item-picker-height;

    &:hover {
      background: darken($action-color, 10%);
    }
  }

  &.expanded a.toggle-expansion {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    line-height: $item-picker-height - 3;
  }

  ul {
    background: $action-color;
    border-radius: 3px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: $item-picker-width;
    height: $item-picker-height;
  }

  &.expanded ul {
    height: auto;
  }

  li {
    a {
      box-sizing: border-box;
      color: #FFF;
      display: block;
      height: $item-picker-height;
      line-height: $item-picker-height;
      overflow: hidden;
      padding: 0 6px;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $item-picker-width;

      &:hover {
        background: darken($action-color, 10%);
      }
    }

    &:last-of-type a {
      border-radius: 0 0 3px 3px;
    }

    &.current {
      a {
        cursor: default;
        width: $item-picker-width - $item-picker-height;

        &:hover {
          background: $action-color;
        }
      }
    }
  }
}

@mixin bezeled($color) {
    background: $color;
    border-bottom: solid 1px darken($color, 10%);
}

@mixin centered-icon($width) {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  width: $width;
  height: 20px;
  line-height: 20px;
}

.iterations {
  margin: 20px;

  & > header {
    background: #333;
    padding: 8px 10px;
    position: relative;

    h3 {
      color: #FFF;
      font-size: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    a {
      color: #d3d3d3;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;

      &.expand-all {
        right: 30px;
      }

      &:hover,
      &:focus {
        background: rgba(255,255,255,0.1);
      }

      i {
        @include centered-icon(30px);
      }
    }
  }
}

.iteration {
  header {
    position: relative;
  }

  h4 {
    @include bezeled(#959595);
    color: #FFF;
    margin: 0;
    padding: 5px 10px;
  }

  a.toggle-expansion {
    color: #FFF;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;

    &:hover,
    &:focus {
      background: #828282;
    }

    i {
      @include centered-icon(30px);
    }
  }
}

.stories {
  display: none;
  margin: 0;

  .expanded & {
    display: block;
  }

  li {
    @include bezeled(#e3e3e3);
    padding: 5px 10px;

    &.unscheduled {
      @include bezeled(#BFCEE9);
    }

    &.started,
    &.finished,
    &.delivered {
      @include bezeled(#E6E4AA);
    }

    &.accepted {
      @include bezeled(#C9DFA5);
    }

    &.rejected {
      @include bezeled(#E7B4B4);
    }

    &.release {
      @include bezeled($primary-color);
      color: #DBE9F7;

      i {
        color: #FFF;
      }
    }

    i {
      float: left;
      margin-top: 5px;
    }

    span {
      color: #787878;
      float: left;
      font-size: .9em;
      margin-top: 2px;
      margin-left: 5px;
      text-align: center;
      width: 22px;
    }

    p {
      margin: 0 0 0 45px;
    }

    &.feature i {
      color: $action-color;
    }

    &.chore i {
      color: #434343;
    }

    &.bug i {
      color: #921414;
    }
  }
}
