.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

body {
  background: #f8f8f8;
}

.login-container {
  margin: 50px auto 0;
  width: 530px;

  h2 {
    background: $primary-color;
    color: #FFF;
    font-weight: normal;
    margin: 0;
    padding: 12px;
  }

  form {
    background: #e3e3e3;
    margin: 0;
    padding: 30px;

    input {
      display: block;
      float: left;
      margin-right: 10px;
      padding: 12px;
      width: 309px;
    }

    button {
      display: block;
      padding: 13px;
    }
  }
}

.projects-container {
  margin: 50px auto 0;
  width: 530px;

  h2 {
    background: $primary-color;
    color: #FFF;
    font-weight: normal;
    margin: 0;
    padding: 12px;
  }

  ul {
    @extend .clearfix;
    background: #e3e3e3;
    margin: 0;
    padding: 7px;

    li {
      float: left;
      width: 244px;
      margin: 7px 7px;

      a {
        background: $action-color;
        border-radius: 3px;
        color: #FFF;
        display: block;
        font-size: 1.2em;
        padding: 10px;
        text-decoration: none;

        &:hover,
        &:focus {
          background: darken($action-color, 10%);
        }
      }
    }
  }
}

.project-container {
  header {
    @extend .clearfix;
    background: $primary-color;
    padding: 10px;
  }
}

$item-picker-width: 200px;
$item-picker-height: 30px;

.item-picker {
  background: $action-color;
  border-radius: 3px;
  float: left;
  position: relative;
  width: $item-picker-width;
  height: $item-picker-height;
  z-index: 10;

  a.toggle-expansion {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFF;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: $item-picker-height;
    height: $item-picker-height;
    line-height: $item-picker-height;

    &:hover {
      background: darken($action-color, 10%);
    }
  }

  &.expanded a.toggle-expansion {
    border-bottom-right-radius: 0;
    line-height: $item-picker-height - 3;
  }

  ul {
    background: $action-color;
    border-radius: 3px;
    margin: 0;
    position: absolute;
    width: $item-picker-width;
  }

  li {
    display: none;

    a {
      box-sizing: border-box;
      color: #FFF;
      display: block;
      height: $item-picker-height;
      line-height: $item-picker-height;
      overflow: hidden;
      padding: 0 6px;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $item-picker-width;

      &:first-of-type {
        border-radius: 3px 3px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 3px 3px;
      }

      &:hover {
        background: darken($action-color, 10%);
      }
    }

    &.current {
      display: block;

      a {
        cursor: default;
        width: $item-picker-width - $item-picker-height;

        &:hover {
          background: $action-color;
        }
      }
    }
  }

  &.expanded li {
    display: block;
  }
}
