$multi-select-height: 2em;

.multi-select {
  margin: 0 0 0 20px;
  float: left;

  li {
    display: inline-block;
    margin-right: 10px;

    a {
      border-radius: 3px;
      color: #FFF;
      display: block;
      height: $multi-select-height;
      line-height: $multi-select-height;
      padding: 0 10px;
      text-decoration: none;

      &:hover,
      &:focus {
        background: rgba(0,0,0,0.2);
      }
    }

    &.selected a {
      background: $action-color;

      &:hover,
      &:focus {
        background: darken($action-color, 10%);
      }
    }

  }
}
