.projects-container {
  margin: 30px auto 0;
  width: 32em;

  h2 {
    background: $primary-color;
    color: #FFF;
    margin: 0;
    padding: 12px;
  }

  ul {
    @extend .clearfix;
    background: #e3e3e3;
    margin: 0;
    padding: .5em;

    li {
      float: left;
      width: 14.5em;
      margin: .5em .5em;

      a {
        background: $action-color;
        border-radius: 3px;
        color: #FFF;
        display: block;
        font-size: 1.2em;
        padding: .5em;
        text-decoration: none;

        &:hover,
        &:focus {
          background: darken($action-color, 10%);
        }
      }
    }
  }
}

.project-container > header {
  @extend .clearfix;
  background: $primary-color;
  padding: 10px;
}
