.scopes {
  @extend .clearfix;
}

.scope {
  box-sizing: border-box;
  float: left;

  .scopes-count-1 & {
    float: none;
  }

  .scopes-count-2 & {
    width: 50%;

    &:first-of-type {
      padding-right: 5px;
    }

    &:last-of-type {
      padding-left: 5px;
    }
  }

  & > header {
    background: darken($primary-color, 20%);
    padding: 8px 10px;
    position: relative;

    h3 {
      color: #FFF;
      font-size: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    a {
      color: #d3d3d3;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2em;

      &.expand-all {
        right: 2em;
      }

      &:hover,
      &:focus {
        background: rgba(255,255,255,0.1);
      }

      i {
        @include centered-icon(2em);
      }
    }
  }
}
