$single-select-width: 11em;
$single-select-height: 2em;

.single-select {
  background: $action-color;
  border-radius: 3px;
  float: left;
  position: relative;
  width: $single-select-width;
  height: $single-select-height;
  z-index: 5;

  a.toggle-expansion {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFF;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: $single-select-height;
    height: $single-select-height;
    line-height: $single-select-height;

    &:hover {
      background: darken($action-color, 10%);
    }
  }

  &.expanded a.toggle-expansion {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    line-height: $single-select-height;
  }

  ul {
    background: $action-color;
    border-radius: 3px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: $single-select-width;
    height: $single-select-height;
  }

  &.expanded ul {
    height: auto;
  }

  li {
    a {
      box-sizing: border-box;
      color: #FFF;
      display: block;
      height: $single-select-height;
      line-height: $single-select-height;
      overflow: hidden;
      padding: 0 6px;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $single-select-width;

      &:hover {
        background: darken($action-color, 10%);
      }
    }

    &:last-of-type a {
      border-radius: 0 0 3px 3px;
    }

    &.current {
      a {
        cursor: default;
        width: $single-select-width - $single-select-height;

        &:hover {
          background: $action-color;
        }
      }
    }
  }
}
