.stories {
  display: none;
  margin: 0;

  .expanded & {
    display: block;
  }

  li {
    background: #FFF;
    border-bottom: solid 1px #e3e3e3;
    padding: 5px;
    position: relative;

    p {
      margin: 0 2em 0 7em;
    }

    .state {
      color: #787878;
      float: left;
      font-size: .9em;
      margin-top: 3px;
      margin-left: 45px;
    }

    .state-meter {
      background-image: repeating-linear-gradient(-65deg,
                                                  transparent,
                                                  transparent 5px,
                                                  rgba(255,255,255,.3) 5px,
                                                  rgba(255,255,255,.3) 10px);
      border-radius: 0 3px 3px 0;
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 0;
      height: 1.5em;
    }

    &.unscheduled,
    &.unstarted {
      background: #e3e3e3;
      border-color: #c7c7c7;

      p {
        margin-left: .5em;
      }

      .state,
      .state-meter {
        display: none;
      }
    }

    @mixin statemeter ($color, $width) {
      .state-meter {
        background-color: $color;
        width: $width;
      }
    }

    &.started {
      @include statemeter(#C78719, 10px);
    }

    &.finished {
      @include statemeter(#0F516B, 20px);
    }

    &.delivered {
      @include statemeter(#5C1379, 30px);
    }

    &.rejected {
      @include statemeter(#811C1C, 20px);
    }

    &.accepted {
      @include statemeter(#346B0F, 40px);
    }

    i {
      float: right;
      font-size: 1.2em;
      margin-top: 0.125em;
      margin-right: 0.125em;
      position: relative;
    }

    &.feature i {
      color: $action-color;
      font-size: 1.7em;
      margin-top: 0;
      margin-right: 0;
      text-align: center;
    }

    .estimate {
      color: #FFF;
      font-size: .5em;
      line-height: 1.9em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
    }

    &.chore i {
      color: #434343;
    }

    &.bug i {
      color: #921414;
    }

    &.release {
      background: $primary-color;
      border-color: darken($primary-color, 10%);
      color: #FFF;

      p {
        margin: 0 .75em 0 2em;
      }

      i {
        float: left;
        margin-left: 2px;
      }

      .state,
      .state-meter {
        display: none;
      }
    }
  }
}
